/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Azharuls's custom styles
   ========================================================================== */

/************************************************
    BASE
************************************************/

/**** Global ****/
html {
    height: 100%
}
body {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    background-color: #e7f1dc;
    color: #281a24;
    font-size: 18px;
    height: 100%;
}

input {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #281a24;
}

.page_container {
    min-height: 100%;
    position: relative;
    background-color: #e7f1dc;
}

.content {
    padding-bottom: 100px; /* Height of the footer */
}

/** Header **/
.head_wrap {
    margin: 0 auto;
    width: 1224px;
}

header h1 {
    margin: 0 auto;
    width: 764px;
    height: 200px;
}

header h1 a {
    display: block;
    width: 764px;
    height: 200px;
    background: url(../img/global/main_logo_full.png) no-repeat;
}

.header_wrap {
    border-bottom: 5px solid #5a3267;
}

.show_menu {
    display:none;
    margin: 2px auto 2px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 90%;
    font-size: 2.22em;
    text-align: center;
    background: #72a1d2;
    color: #281a24;
    text-decoration: none;
}

header nav a {
    float: left;
    margin: 0 0 0 14%;
    font-size: 2.22em;
    color: #281a24;
    text-decoration: none;
}

header nav a:hover {
    color: #2863a0;
}

nav a.logout {
    float: right;
    margin: 0;
}

nav a.home {
    margin: 0;
}

header .search_wrap {
    padding: 18px 0 0 0;
    height: 62px;
    background-color: #9878a2;
}

header input {
    border: 0;
    padding: 0 0 0 10px;
    width: 440px;
    height: 45px;
    font-size: 1.2em;
}

header input.submit_search {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height:45px;
    background: url(../img/global/search_icon.png) 10px 8px no-repeat #fff;
    border-left: 2px solid #dfdfdf;
}

header form {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 50px;
}

/** Footer **/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #5a3267;
    height: 95px;
    background-color: #9878a2;
}

.footer_wrap {
    margin: 0 auto;
    width: 1224px;
}

.welove_copy {
    float: left;
    margin: 10px 0 0 5px;
    font-size: 0.875em;
}

.contact_info {
    float: right;
    padding: 8px 5px 0 0;
}

.contact_info h5 {
    margin: 0 0 5px 0;
    border-bottom: 2px solid #281a24;
    font-size: 1.875em;
    line-height: 32px;
}

.contact_info p {
    font-size: .77em;
    margin: 0;
}

.contact_info p a {
    color: #281a24;
    text-decoration: none;
}

/** Content **/
.content {
    margin: 0 auto;
    width: 1224px;
}

/* Listing Pages */

.listing_page h2,
.listing_page h3 {
    margin-left: 12%;
}

.listing {
    padding: 20px 20px 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    border: 20px solid #2863a0;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 70%;
    background-color: #fff;
}

.listing li {
    float: left;
    margin: 0 6.66% 20px 0;
    width: 20%;
    height: 310px;
}

.listing li a img {
    width: 100%;
    height: 80%;
}

.listing li:nth-child(4),
.listing li:last-child {
    margin: 0;
}

.listing li:nth-child(5) {
    clear: left;
}

.listing li p {
    margin: 0;
}

/* Login */
.login_wrapper {
    overflow: hidden;
    margin: 10px auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 5% 60px;
    width: 70%;
    background: #e4e188;
}

.login_container {
    margin: 0 auto;
    width: 406px;
}

.login_wrapper label {
    float: left;
    width: 150px;
}

.login_wrapper input {
    width: 250px;
}

.login_wrapper form .field {
    margin: 0 0 5px 0;
}

.login_wrapper form .button {
    float: left;
}

input.button,
.login_wrapper a.button {
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 49%;
    height: 26px;
    text-align: center;
}

input.button {
    margin: 0 2% 0 0;
    border: 0;
    background-color: #e8618e;
}

.login_wrapper a.button {
    text-decoration: none;
    background-color: #72a1d2;
    color: #281a24;
}

.login_wrapper .buttons {
    margin-top: 20px;
}

/* Registration */
.registration_wrapper {
    margin: 20px auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 80%;
    background: #e4e188;
}

.registration_controller {
    padding: 10px 20px 20px;
}

.registration_controller label {
    float: left;
    width: 47%;
}

.registration_controller input {
    width: 50%;
}

.registration_controller .field {
    margin: 0 0 10px 0;
}

.registration_controller .field input {
    float: left;
}

.registration_controller h2 {
    margin: 0 0 20px;
}

.col {
    float: left;
    width: 47%;
}

.col_1 {
    margin: 0 6% 0 0;
}

.registration_controller div.button {
    margin: 0 3% 0 0;
}

.registration_controller input.button {
    float: right;
    margin: 0;
}

.val_errors {
    margin: 10px auto 0;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 1%;
    width: 78%;
    background-color: #ea5252;
}

.success {
    padding: 20px;
}

/* Book information page */
.book_info {
    margin-top: 20px;
    width: 45%;
}

.info_wrapper {
    margin-top: 20px;
}

.info_wrapper img {
    margin: 0 1.5% 0 0;
    float: left;
}

.info_wrapper .book_info {
    float: left;
}

.review_area .tab-content {
    margin: 0 0 20px;
    background-color: #fff;
}

.review_area .nav-tabs {
    margin: 20px 0 0 0;
}

.review_area #review,
.review_area #leave_a_review {
    padding: 0 2% 0;
}

.stars {
    overflow: hidden;
    margin: 0 0 20px 0;
}

/* Reviews */

.review_row .username {
    float: left;
    margin: 0 0 10px 0;
}

.review_row .stars {
    float: left;
    margin: 3px 0 0 20px;
}

.review_row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}

/* Profile Page */
.profile_info p.title {
    float: left;
    width: 180px;
}

.profile_info p.title,
.profile_info p.value {
    margin: 10px 0;
}

.profile_info p.value {
    float: left;
}

.recommendations_col a.button {
    display: block;
    background-color: #e8618e;
    width: 37%;
    height: 32px;
    padding: 4px 0 0 4%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #281a24;
    text-decoration: none;
}

.read_list h3 {
    border-bottom: 1px solid #ccc ;
}

 .image_container {
    margin: 0 0 20px 0;
 }

.book_display .image_container {
    float: left;
    width: 15%;
}

.book_display .image_container img {
    width: 90%;
}

.book_display .book_info_container {
    float: left;
    width: 45%;
}

.book_display .book_info_container p {
    margin: 0;
}

.book_display .stars {
    float: left;
    width: 20%;
}

.book_display .to_do {
    float: left;
     width: 20%;
}

.review_body_box {
    width:50%;
    height: 150px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

#leave_a_review label {
    display: block;
    width: 20%;
}

#leave_a_review input.button {
    margin: 20px 0 20px 0;
    width: 20%;
}

.book_info_val_error {
    width: auto;
}

.footer_left {
    float: left;
}

.footer_left h5 {
    font-size: 1em;
    margin: 0;
    border-bottom: 2px solid #281a24;
}

.footer_left p {
    margin: 0;
}

/************************************************
    Device Specific
************************************************/

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1224px) {
    /**** Global ****/
    body{
        font-size: 16px;
    }

    /** Header **/
    .head_wrap {
        width: 100%;
    }
    header nav a {
        margin: 0 0 0 15%;
    }

    /** Footer* */
    .footer_wrap {
        width: 100%;
    }
    .contact_info h5 {
        line-height: 22px;
    }

    /** Content **/
    .content {
        width: auto;
    }

    /* Login */
    .login_wrapper a.button {
        padding: 3px 0 0 0;
        height: 23px;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
    /**** Global ****/
    body{
        font-size: 14px;
    }

    /** Header **/
    header nav a {
        margin: 0 0 0 11%;
    }
    header .search_wrap {
        padding: 12px 0 0 0;
        height: 45px;
    }
    header form {
        width: 376px;
        height: 35px;
    }
    header input {
        width: 325px;
        height: 32px;
    }
    header input.submit_search {
        background: url(../img/global/search_icon_medium.png) 10px 8px no-repeat #fff;
        width: 41px;
        height: 32px;
    }

    /* Listing pages */
    .listing {
        width: 90%;
    }

    .listing_page h2,
    .listing_page h3 {
        margin-left: 2%;
    }
}

/* Devices smaller than the iPad but 
larger than the iphone -------------------*/
@media only screen and (max-width: 767px) {
    /**** Global ****/
    body{
        font-size: 10px;
    }

    /** Header **/
    header h1 {
        width: 479px;
        height: 125px;
    }
    header h1 a {
        width: 479px;
        height: 125px;
        background: url(../img/global/main_logo_medium.png) no-repeat;
    }
    header nav a {
        margin: 0 0 0 9%;
    }

    /* Login */
    .login_wrapper {
        width: 70%;
    }

    .field label,
    .field input,
    .login_wrapper a.button {
        font-size: 1.6em;
    }

    /* Registration */
    h2 {
        font-size: 2em;
    }

    .val_errors {
        font-size: 1.4em;
    }

    /* Listing Pages */
    .listing {
        width: 88%;
    }
    .listing li {
        height: 230px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen  and (min-width : 320px) and (max-width : 480px) {
    /**** Global ****/
    body{
        font-size: 10px;
    }

    /** Header **/
    header h1 {
        width: 320px;
        height: 84px;
    }
    header h1 a {
        width: 320px;
        height: 84px;
        background: url(../img/global/main_logo_small.png) no-repeat;
    }
    .show_menu {
        display: block;
    }
    header nav {
        display: none;
    }
    header nav a,
    nav a.home,
    nav a.logout {
        display: block;
        clear: both;
        float: none;
        margin: 2px auto 2px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
        width: 90%;
        text-align: center;
        background: #e8618e;
        color: #281a24;
        text-decoration: none;
    }

    header form {
        width: 90%;
    }

    header form input {
        width: 88%;
    }

    /** Content **/
    .content {
        width: 90%;
    }

    /* Login */
    .login_wrapper {
        width: 90%;
    }

    .login_container {
        width: 100%;
    }

    h2 {
        margin: 0 0 10px 0;
        text-align: center;
        font-size: 2.5em;
    }

    .login_container .field {
        padding: 0 1% 0 0;
    }

    .field input {
        padding: 4px 0;
    }

    .login_container input,
    .login_wrapper a.button {
        width: 100%;
    }

    .login_container input {
        margin-bottom: 20px;
    }

    input.button {
        height: 35px;
    }

    .login_wrapper a.button {
        padding-top: 5px;
        height: 30px;
    }

    /* Registration */
    .registration_wrapper {
        width: 100%;
    }

    .registration_wrapper .col {
        float: none;
        margin: 0;
        width: 100%;
    }

    .registration_wrapper .field label,
    .registration_wrapper .field input {
        clear: both;
        width: 100%;
    }

    .registration_controller input.button {
        width: 100%;
        font-size: 2em;
    }

    .registration_controller div.button {
        margin: 0;
    }

    .val_errors {
        width: 94%;
        padding: 5px 3%;
    }

    /* Success */
    .success {
        width: 90%;
    }

    .success p {
        font-size: 1.5em;
    }

    /* Listing Pages */
    h3 {
        margin: 0;
        text-align: center;
        font-size: 1.5em;
    }
    .listing {
        width: 78%;
    }

    .listing li {
        margin: 0 0 20px 18% !important;
        width: 180px;
        height: 310px;
    }

    /* Profile Page */
    .profile_info p.title,
    .profile_info p.value {
        margin: 0;
    }
    .profile_info p.title {
        font-size: 1.3em;
        margin-bottom: 5px;
    }

    .recommendations_col a.button {
        width: 72%;
        height: 19px;
    }

    .book_display .book_info_container {
        width: 35%;
    }

    .book_display .stars {
        width: 25%;
    }

    .book_display .to_do {
        width: 25%;
    }

    /* Book Info */
    .book_info {
        width: auto;
    }

    #leave_a_review form label,
    #leave_a_review form input,
    #leave_a_review form textarea {
        width: 100%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
